<!DOCTYPE html>
<html>
<head>
<title>pedomemo - 履歴表示</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS"/>
<meta charset="Shift_JIS"/>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="/js/mobile-config.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head>
<body>
<div data-role="page">
<div data-role="header">
<h1>どれくらい歩いた？</h1>
</div><!-- /header -->
<div data-role="content">
<div><font color="orange">累計・平均は定期的に更新されます。</font></div>
{% if monthly_sum %}
<div>月間累計: {{monthly_sum.steps|commafmt}}歩({{monthly_sum.rank|commafmt}}位/{{monthly_count|commafmt}}人)</div>
{% endif %}
{% if campaign_sum %}
<div>期間累計: {{campaign_sum.steps|commafmt}}歩({{campaign_sum.rank|commafmt}}位/{{campaign_count|commafmt}}人)</div>
<div>期間平均: {{average|commafmt}}歩/日</div>
{% endif %}
<div><a href="/menu?key={{user.accesskey|safe}}" data-ajax="false">メニューへ</a></div>
{% for record in records %}
<div><a href="/input?key={{user.accesskey|safe}}&date={{record.date|datetimeformat("%Y%m%d")|safe}}" data-ajax="false">{{record.date|datetimeformat("%Y/%m/%d")}}</a>: {{record.steps|commafmt}}歩</div>
{% endfor %}
</div><!-- /content -->
<hr/>
<div data-role="footer" class="ui-bar">
<a href="/menu?key={{user.accesskey|safe}}" data-role="button" data-icon="arrow-l" data-ajax="false">メニューへ</a>
</div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
