<html>
<head>
<title>pedomemo - メニュー</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS"/>
</head>
<body>
<h1><font color="#668000">pedo</font><font color="#d45500">memo</font></h1>
<h2>[beta版]</h2>
<div>ようこそ {{user.userid|escape}} さん。</div>
<marquee scrollamount="3" loop="-1" bgcolor="#ffddaa">履歴表示画面で、平均歩数が確認できます！</marquee>
<ul>
<li><a href="/input?key={{user.accesskey|urlencode}}">歩数入力</a></li>
<li><a href="/history?key={{user.accesskey|urlencode}}">履歴表示</a></li>
<li><a href="/ranking?key={{user.accesskey|urlencode}}">ランク表示</a></li>
<li><a href="/myprofile?key={{user.accesskey|urlencode}}&userid={{user.userid|escape}}">マイプロフィール</a></li>
<li><a href="/comments?key={{user.accesskey|urlencode}}">みんなのコメント</a></li>
<li><a href="/report?key={{user.accesskey|urlencode}}">レポート</a><font color="red">[NEW]</font></li>
</ul>
<hr/>
<div><font color="orange">このページをブックマーク登録してください。</font></div>
</body>
</html>
