<!DOCTYPE html>
<html>
<head>
<title>pedomemo - メニュー</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS"/>
<meta charset="Shift_JIS"/>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="/js/mobile-config.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
</head>
<body>
<div data-role="page">
<div data-role="header">
<h1><font color="#668000">pedo</font><font color="#d45500">memo</font> beta</h1>
</div><!-- /header -->
<div data-role="content">	
<div>ようこそ {{user.userid|escape}} さん。</div>
<marquee scrollamount="3" loop="-1" bgcolor="#ffddaa">キャンペーン期間のランク表示ができるようになりました。</marquee>
<ul data-role="listview" data-inset="true">
<li data-role="list-divider">Menu</li> 
<li><a href="/input?key={{user.accesskey|urlencode}}">歩数入力</a></li>
<li><a href="/history?key={{user.accesskey|urlencode}}">履歴表示</a></li>
<li><a href="/ranking?key={{user.accesskey|urlencode}}">ランク表示 <font color="red">[NEW]</font></a></li>
<li><a href="/myprofile?key={{user.accesskey|urlencode}}&userid={{user.userid|escape}}">マイプロフィール</a></li>
<li><a href="/comments?key={{user.accesskey|urlencode}}">みんなのコメント</a></li>
<li><a href="/report?key={{user.accesskey|urlencode}}">レポート</a></li>
</ul>
<hr/>
<div><font color="orange">このページをブックマーク登録してください。</font></div>
</div><!-- /content -->
</div><!-- /page -->
</body>
</html>
