<html>
<head>
<title>pedomemo - プロフィール</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS"/>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
</head>
<body>
<div data-role="page" data-add-back-btn="true">
<div data-role="header">
<h1>プロフィール</h1>
</div><!-- /header -->
<div data-role="content">	
<div>{{profile_user.userid|escape}} さんのプロフィール</div>
<div>{{profile_user.profile|sjis|escape}}</div>
</div><!-- /content -->
<hr/>
<div data-role="footer" class="ui-bar">
<a href="/menu?key={{user.accesskey|urlencode}}" data-role="button" data-icon="arrow-l">メニューへ</a>
</div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
