<html>
<head>
<title>pedomemo - ランク表示</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS"/>
<meta charset="Shift_JIS"/>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="/js/mobile-config.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
</head>
<body>
<div data-role="page">
<div data-role="header">
<h1>ランキングは？</h1>
</div><!-- /header -->
<div data-role="content">	
{% if isCampaignTerm %}
<div><a href="/ranking?key={{user.accesskey|urlencode}}" data-ajax="false">月間ランクへ</a></div>
{% else %}
<div><a href="/ranking?key={{user.accesskey|urlencode}}&term=campaign" data-ajax="false">期間ランクへ</a></div>
{% endif %}
<div>{{term.start_date|date:"Y/m/d"}}-{{term.end_date|date:"Y/m/d"}}</div>
{% for item in rank_list %}
<div>[{{item.rank}}位]<a href="/profile?key={{user.accesskey|urlencode}}&userid={{item.user.userid|escape}}" data-ajax="false">{{item.user.userid|escape}}</a>: {{item.steps}}歩</div>
{% endfor %}
</div><!-- /content -->
<hr/>
<div data-role="footer" class="ui-bar">
<a href="/menu?key={{user.accesskey|urlencode}}" data-role="button" data-icon="arrow-l" data-ajax="false">メニューへ</a>
</div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
